<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.apitesting.listeners.TestListener" />
    </listeners>


    <test parallel="methods" thread-count="5" name="/Users/rahulmishra/Documents/Code/Professional/API-Testing-Framework">
        <classes>
            <class name="com.apitesting.tests.GetTests">
                <methods>
                    <include name="getUsersDetails" />
                    <include name="getUserDetails" />
                </methods>
            </class>
            <class name="com.apitesting.tests.PostTests">
                <methods>
                    <include name="postUsers" />
                    <include name="postUserForSkip" />
                    <include name="postUser" />
                    <include name="postRequestUsingExternalFile" />
                    <include name="postRequestUsingExternalFileUsingSingleton" />
                </methods>
            </class>
            <class name="com.apitesting.tests.AuthApiTest">
                <methods>
                    <include name="testNumberOfGithubRepoOfUser" />
                    <include name="testCreateGithubRepoAPI" />
                    <include name="testGithubUserBlock" />
                    <include name="testGithubUserUnblock" />
                </methods>
            </class>
        </classes>
    </test>
</suite>